.gap-r-2 {
  margin-right: .5rem;
}

.gap-t-2 {
  margin-top: 1rem;
}
.gap-tt-2 {
  margin-top: .5rem;
}
.gap-b-2 {
  margin-bottom: 1rem;
}

hr {
border: 0;
border-top: 1px solid #eee;
margin: 20px 0;
}