.btn {
  display: block;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  background-color: rgb(255, 255, 255);
  color: #3b3a3a;;
  padding: .5rem;
  padding: 10px 15px;
}

.btn-right {
  display: block;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  background-color: rgb(255, 255, 255);
  color: #3b3a3a;;
  padding: .5rem;
  padding: 8px 16px;

  float: right;
}

.btn:hover {
  background-color: #f7f7f7;
}

.accept {
  display: block;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
  padding: 4px 16px;

  width: 100%;

  opacity: .6;
}


.decline {
  display: block;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  color: rgb(255, 255, 255);
  background-color: rgb(244, 67, 54);
  padding: 4px 16px;

  width: 100%;

  opacity: .6;
}

.info {
  display: block;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  color: rgb(0, 0, 0);
  background-color: rgb(223, 229, 232);
  padding: 4px 16px;

  width: 100%;

  opacity: .6;
}

.decline:hover, .accept:hover, .info:hover {
  color: #000;
  background: #ccc;
}

.primary {
  display: block;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
}

.primary:hover {
  background-color: #ccc;
  color: #000;
}