.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.justifyCenter {
  justify-content: center;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.justifyBetween {
  justify-content: space-between;
}

.mt {
  margin-top: .75rem;
}

.mt-2 {
  margin-top: 2rem;
}

.bg-black {
  background-color: #000;
}

.padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .justifyBetween {
    justify-content: unset;
  }
}