.col-24 {
  width: 100%;
}

.col-18 {
  width: 75%;
}

.col-15 {
  width: 62.5%;
}

.col-12 {
  width: 50%;
}

.col-49 {
  width: 49%;
}

.col-9 {
  width: 37.5%;
}

.col-7 {
  width: 32.5%;
}

.col-6 {
  width: 25%;
}

.col-3 {
  width: 12.5%;
}

.col {
  width: 100%;
}

.col-32 {
  width: 32%;
}

.col-65 {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .col-18, .col-15, .col-12, .col-49, .col-9, .col-7,.col-6, .col-3, .col-32, .col-65  {
    width: 90%;
    padding: 0 .75rem;
  }

  .col-49{
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .col-18, .col-15, .col-12, .col-49, .col-9, .col-7,.col-6, .col-3  {
    width: 100%;
    padding: 0 .75rem;
  }

  .col-49{
    padding: 0;
  }
}